<%- include('./partials/header');-%>
<% data.forEach(function(d) { %>
    <div class="container">
        <div class="row">
            <div class="col">
             <div class="profile">
                <div class="col">
                    <div class="col">
                        <h2><%= d.user_id.name %> </h2>
                        <p><strong>Appointment Date: </strong><%= d.appointment_date %>   </p>
                        <p><strong>Time Slot: </strong><%= d.time_slot %> </p>
                        
                        <form action="/doctor/<%= d._id %>/delete" method="POST">
                            <button type="submit" class="btn btn-secondary btn-block" id="edit">Cancel Appointment</button>
                        </form> 
                    </div>             
                    
                    </div>
                </div>
                </div>
                </div>
                </div>


<% })%>
<%- include('./partials/footer');-%>